.grid{
    width: 400px;
    height: 600px;
    position: relative;
    font-size: 100px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/flat\,750x1000\,075\,f.jpg);
    color:white
}

.doodler{
    width: 86px;
    height: 85px;
    background-image: url(assets/doodle.png);
    position: absolute;
}

.platform{
    width: 85px;
    height: 15px;
    position:absolute;
    background-image: url(assets/platform.png);
}

.hola{
    width: 110px;
    height: 105px;
    display: inline-block;
    justify-content: flex-end;
    background-image: url(assets/arrows.gif);
}

.enter {
    width: 110px;
    height: 107px;
    display: inline-block;
    justify-content: flex-end;
    background-image: url(assets/enter.gif);
}

.container {
    width: auto;
    display: inline-flex;
    align-items: flex-end;
}